html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: #41FAF7;
}

h1 {
    text-align: center;
    width: 50%;
    padding: 1em 0 0 0;
    margin: auto;
}

h1:hover {
    color: red;
}

.blogtext {
    font-family: serif;
    font-size: 14pt;
}

p {
    margin: 2em 2em 2em 2em;
}

div {
  overflow-x: hidden;
}

footer {
    text-align: center;
    padding: 1em 0 1em 0;
}

.center {
    text-align: center;
    background-image: url("sparkles.jpeg");
    width: 100%;
}
